footer a {
    color: black;
    font-style: italic;
}

.controlesPie {
    margin-top: 20px;
    text-align: center;
}

.fa-facebook {
    font-size: 3rem;
    padding: 0.5rem;
}

.fa-instagram {
    font-size: 3rem;
    padding: 0.5rem;
}